.signupwrapper{
    display: flex;
    justify-content: center;
}

.signupCard{
    width: 28vw;
    /* height:13vw; */
    margin-top:2rem;
}
.insta-logo img{
    width:60%;
    height:4rem;
    /* display: flex;
    justify-content: center; */
    /* align-items: center; */
    margin-left: 17%;
}